* {
    margin: 0;
    padding: 0;
}

html, body, #container {
    height: 100%;
}

main {
    height: 100%;
}

/**
 * header of index.html page */
.header {
    height: 10%;
}

/**
 * clound-container of index.html page */
.clound-container {
    height: 80%;
}

/**
 * footer of index.html page */
.footer {
    height: 10%;
}

/**
 * use this class for title content*/
.title {
    font-size: 40px;
    font-family: 'LatoThin';
}

/**
 * use this class for simple content */
.content {
    font-size: 20px;
    font-family: 'Latolight';
}
/*
 * use this class for small content */
.smallcontent {
    font-size: 12px;
    font-family:'Latolight';
}

/*
 * left gap into cloud container*/
.main_empty {
    height: 100%;
}
/*
 * here goes the main picture of the index page*/
.main_image {
    height: 100%;
}
/*
 * container that shows a short sum up */
.main_content {
    height: 100%;
    z-index: 0;
}
