.white {
    color: white;
}

.hue1 {
    color: #CFF09E;
}

.hue2 {
    color: #A8DBA8;
}

.hue3 {
    color: #79BD9A;
}

.hue4 {
    color: #3B8686;
}

.hue5 {
    color: #0B486B;
}

.box1 {
    background-color: #CFF09E;;
}

.box2 {
    background-color: #A8DBA8;;
}

.box3 {
    background-color: #79BD9A;;
}

.box4 {
    background-color: #3B8686;;
}

.box5 {
    background-color: #0B486B;;
}
